<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <gazebo>
        <plugin name="planar_drive" filename="libgazebo_ros_planar_move.so">

            <ros>
                <!-- Remap the default topic -->
                <remapping>cmd_vel:=cmd_vel</remapping>
                <remapping>odom:=odom</remapping>

            </ros>

            <!-- Frame IDs -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_link</robot_base_frame>
    
            <!-- Set control loop update rate -->
            <update_rate>100</update_rate>
            <!-- Set odom publish rate -->
            <publish_rate>10</publish_rate>

            <!-- Set if odom required -->
            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>

            <publish_wheel_tf>true</publish_wheel_tf>

        </plugin>
    </gazebo>

</robot>
